@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: #0F172AFF;
    background-image: url(/assets/images/bg.jpg);
    background-position: center center;
    background-size: contain;
}

header {
    display: flex;
    background-color: #0F172AFF;
    align-items: center;
    padding: 16px 32px;
    border-bottom: solid 1px rgb(248 250 252/.06);
    min-width: 400px;
}

.logo {
    display: flex;
    height: 40px;
    margin-right: 24px;
}

.logo > img {
    height: 100%;
}

.title {
    font-size: 21px;
    margin: 0;
}

main {
    padding: 12px;
    text-align: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 6px;
    line-height: 1;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 32px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 black;
    background: #0284c7;
    color: #fff;
    transition: all 0.2s;
    text-decoration: none;
}

.btn svg {
    margin-right: 8px;
}

.btn-primary {
    background: #0284c7;
    color: #fff;
}

.btn-primary:hover {
    background: #0c4a6e;
}

.btn-secondary {
    background: #dc2626;
    color: #fff;
}

.btn-secondary:hover {
    background: #991b1b;
}

footer {
    display: flex;
    justify-content: center;
    padding: 16px 32px;
}

.social-link {
    color: #ccc;
    margin: 0 16px;
    transition: all 0.2s;
}
.social-link:hover {
    color: white;
}